
<div class="table-header"  *ngIf="_resPlans && _resPlans.length">
<table>
<thead >
            <tr>
                    <td class="header-cell" style="padding-right:5px">
                            <input type="checkbox" (click) = "selectAllChange($event.target.checked)"/>
                        </td>
                <td>
                    <div class="header-cell col1"></div>
                </td>
                <td *ngFor="let interval of _intervals" >
                   <div id="hscroll" class="header-cell col" (scroll)="horizontalScroll($event)">
                       <strong class="stick">{{interval.start | date :  "shortDate"}} - <br> {{interval.end | date :  "shortDate"}}</strong>
                   </div>
                </td>
            </tr>

        </thead>
</table>
 </div>